/* #navigation-bar {
    display: grid;
    grid-template-columns: 200px 500px 200px;
    grid-template-rows: 150px 400px 100px;
    justify-content: space-around;
    border: solid;
} */

/* .box {
    flex: 1 1 auto;
    padding: 1.5rem;
    border: solid red;
    
    width: 50%;
    text-align: center;
}

.logo {
    border:solid;
    flex: 1 1 auto;
}

.my-account {
    border: solid;
} */