body {
    background-color: azure;
}

#landing {
    background-color: lightblue;
    padding: 2.5rem;
}

#preview {
    background-color: cornflowerblue;
    padding: 2.5rem;
}

#landing:hover {
    background-color: lightcoral;
}

#landing.in-landing-zone {
    background-color:forestgreen;
}


p {
    font-size: 1.5rem;
    color: white;
}