body {
    background-color: azure;
}

#landing {
    display: grid;
    background-color: lightblue;
    padding: 2.5rem;
    width: 25vh;
    height: 25vh;

    justify-content: center;
    align-content: center;
}

#preview {
    display: grid;
    background-color: cornflowerblue;
    padding: 2.5rem;

    width: 25vh;
    height: 25vh;

    justify-content: center;
    align-content: center;
}

#landing:hover {
    background-color: lightcoral;
}

#landing.in-landing-zone {
    background-color:forestgreen;
}


p {
    font-size: 1.5rem;
    color: white;
}