body {
    background-color: azure;
}

#landing {
    display: grid;
    background-color: lightblue;

    width: 25vh;
    height: 25vh;

    justify-content: center;
    align-content: center;

    margin-bottom: 4px; 
    /* adjust margin-bottom because of gaps between images */
}

#previewing {
    display: grid;
    background-color: cornflowerblue;
    /* padding: 2.5rem; */

    width: 25vh;
    height: 25vh;

    justify-content: center;
    align-content: center;

    margin: 0pxx;
}

#landing:hover {
    background-color: lightcoral;
}

#landing.in-landing-zone {
    background-color:forestgreen;
}

#landing.already-dragged-file:hover {
    background-color: darkgreen;
}


p {
    font-size: 100%;
    color: white;
    margin: 1rem;
}

#previewing.has-image {
   background-color: red;
   display:block;
}

#previewing > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0px;
}